<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache">

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!--BootstrapIcon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>C4's Portal</title>
  <!-- <link rel="icon" href="../img/logo_mini.png">
  <link rel="manifest" href="../manifest.json"> -->

  <!-- <link rel="stylesheet" href="/script/style.css"> -->
</head>

<body>
  <div class="bg-danger w-100 py-3 px-5 text-light">
    メンテナンス中のため、かわりに開発版のPortalを表示しています。<br>
    登録・精算処理は<a href="https://portal.c4-s.net/procedure/contact.html" class="text-light">問い合わせフォーム</a>からお願いします。
  </div>
  <div class="mt-5 mx-5">
    <a href="https://portal.c4-s.net">もどる</a>
  </div>
  <div id="app">
    <h1 class="mt-5 mb-5 text-center">{{ pagename }}</h1>
    <div class="row mb-5 mw-lg mx-auto">
      <div class="col-lg-6">
        <!-- 残高表示 -->
        <div class="w-100 px-3 mb-3 text-light">
          <div class="w-100 bg-c4s p-3 rounded-3">
            <p class="mb-0">部費残高</p>
            <p class="mb-0">
              <span class="fs-3em">{{ total.toLocaleString() }}</span
              ><span>円</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- 明細の年度選択 -->
        <select class="form-select w-75 mx-auto mb-3 small" v-model="selectedYear">
          <option
            v-for="(year, key) in moneyData"
            :key="key"
            :value="key"
            :selected="getYear() == key"
          >
            {{ key }}年度
          </option>
        </select>
        <!-- 明細 -->
        <div v-for="(element, key) in moneyData[selectedYear]" :key="key" class="w-100 px-3 mb-2">
          <!-- 部費支払い -->
          <div
            class="bg-white border border-success shadow-sm rounded-3 py-1 w-95 mx-auto d-flex"
            v-if="element.type == 'FeePaid'"
          >
            <h6 class="col-4 text-end text-success mb-0">部費収入</h6>
            <p class="col-4 text-center text-secondary small mb-0">{{ getDateText(element.date) }}</p>
            <h6 class="col-4 text-success mb-0">+{{ element.price.toLocaleString() }}</h6>
          </div>
          <!-- その他収入・支出 -->
          <div
            class="bg-white border shadow-sm rounded-md w-100 mx-auto mb-2 px-1 py-2 row pointer hover"
            :class="element.price < 0 ? 'border-primary' : 'border-success'"
            v-else
          >
            <div class="col-8">
              <h6 class="mb-0">{{ element.name }}</h6>
              <p class="text-secondary small mb-0">{{ getDateText(new Date(element.date)) }}</p>
            </div>
            <div class="col-4">
              <h4 class="mb-0 text-end" :class="element.price < 0 ? 'text-primary' : 'text-success'">
                {{ element.price > 0 ? '+' : '' }}{{ Number(element.price).toLocaleString() }}
              </h4>
            </div>
            <div v-if="!element.liquid">
              <hr class="my-2" />
              <div class="text-danger text-center fw-bold">
                <i class="bi bi-exclamation-circle-fill"> </i>未精算
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.2/firebase-app.js";
  import { getDatabase, push, set, ref, get, child, remove, onValue } from "https://www.gstatic.com/firebasejs/9.17.2/firebase-database.js";
  
  const firebaseConfig = {
    apiKey: 'AIzaSyBE60G8yImWlENWpCnQZzqqVUrwWa_torg',
    authDomain: 'c4s-portal.firebaseapp.com',
    databaseURL: 'https://c4s-portal-default-rtdb.asia-southeast1.firebasedatabase.app',
    projectId: 'c4s-portal',
    storageBucket: 'c4s-portal.appspot.com',
    messagingSenderId: '863775995414',
    appId: '1:863775995414:web:82eb9557a13a099dfbe737',
    measurementId: 'G-K2SR1WSNRC'
  }
  
  const app = initializeApp(firebaseConfig)
  const db = getDatabase(app)
  
  const Vueapp = Vue.createApp({
    data() {
      return {
        pagename: '部費通帳',
        selectedYear: this.getYear().toString(),
        moneyData: {},
        total: '---,---'
      }
    },
    created() {
      // データを取得
      get(ref(db, 'money')).then((snapshot) => {
        const data = snapshot.val()
        const reversedKeys = Object.keys(data).reverse()
        this.total = 0
        for (const i in reversedKeys) {
          const key = reversedKeys[i]
          const element = data[key]
          if (!this.moneyData[this.getYear(element.date)]) {
            this.moneyData[this.getYear(element.date)] = {}
          }
          this.moneyData[this.getYear(element.date)][key] = element
          this.total += element.price
        }
      })
      console.warn('データを取得しました')
      console.log(this.moneyData)
    },
    methods: {
      // 年度を取得（3月までは前年になる）
      getYear(snapshot) {
        const date = snapshot ? new Date(snapshot) : new Date()
        const year = date.getFullYear()
        const result = date.getMonth() < 3 ? year - 1 : year
        return result.toString()
      },
      // 日時をテキストに変換
      getDateText(snapshot) {
        const DATE = new Date(snapshot)
        const TODAY = new Date()
  
        const LIST = (input) => {
          let date = new Date(input)
          return [
            date.getFullYear(),
            date.getMonth() + 1,
            date.getDate(),
            date.getHours(),
            date.getMinutes()
          ]
        }
        const Shift = (date, int) => {
          let result = date
          result.setDate(date.getDate() + int)
          return result
        }
        const compareDate = (a, b) => {
          return LIST(a)[0] == LIST(b)[0] && LIST(a)[1] == LIST(b)[1] && LIST(a)[2] == LIST(b)[2]
        }
  
        if (compareDate(TODAY, DATE)) return 'きょう'
        if (compareDate(Shift(TODAY, -1), DATE)) return 'きのう'
        if (compareDate(Shift(TODAY, -1), DATE)) return 'おととい'
        if (Shift(TODAY, -5) < DATE)
          return `${Math.round((Shift(TODAY, 7) - DATE) / (1000 * 60 * 60 * 24))}日前`
        return `${LIST(DATE)[1]}月${LIST(DATE)[2]}日`
      }
    }
    })
    Vueapp.mount('#app');
  </script>
  
  <style>
  .bg-c4s {
    background-color: var(--c-c4s);
  }
  .fs-3em {
    font-size: 3em;
    font-weight: bold;
    line-height: 0.8em;
  }
  .w-95 {
    width: 95%;
  }
  :root {
  --c-c4s: #ff7f00;
  --c-c4s-light: #ffbf7f;
  --c-c4s-dark: #7f3f00;
}

.mt-25vh {
  margin-top: 25vh;
}

.mw-xs {
  max-width: 120px;
}
.mw-sm {
  max-width: 360px;
}
.mw-md {
  max-width: 480px;
}
.mw-lg {
  max-width: 960px;
}
.mw-xl {
  max-width: 1200px;
}
.mw-xxl {
  max-width: 1600px;
}

.h-eq {
  display: flex;
  flex-wrap: wrap;
}

.rounded-sm {
  border-radius: 5px;
}
.rounded-md {
  border-radius: 10px;
}
.rounded-lg {
  border-radius: 15px;
}

.text-justify {
  text-align: justify;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  animation: itemhover 0.15s ease-out 0s 1 reverse;
  opacity: 70%;
}
@keyframes itemhover {
  from {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}

  </style>
</body>
