html, body { overflow-x: hidden; }

.hide { display: none; }

.adminonly { display: none; }
.activeonly { display: none; }
.outsideonly { display: none; }

.w-95 { width: 95%; }

.mw-xs { max-width: 120px; }
.mw-sm { max-width: 360px; }
.mw-md { max-width: 480px; }
.mw-lg { max-width: 960px; }
.mw-xl { max-width: 1200px; }

.h-eq {
  display: flex;
  flex-wrap: wrap;
}
.h-full {
  height: 100%;
}

.rounded-sm { border-radius: 5px; }
.rounded-md { border-radius: 10px; }
.rounded-lg { border-radius: 15px; }

.text-justify { text-align: justify; }

.c4s-background { background-color: rgb(255, 247, 239);}

.c4s { color: rgb(255, 127, 0); }
.c4s-dark { color: rgb(191, 95, 0);}

.bg-c4s { background-color: rgb(255, 127, 0); color: white; }
.bg-c4s-light { background-color: rgb(255, 247, 239); }
.bg-c4s-dark { background-color: rgb(255, 95, 0); color: white; }

.unclicked {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  background-color: gainsboro;
  border-radius: 1.5em;
  cursor: pointer;
}
.clicked {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  background-color: dimgray;
  color: white;
  border-radius: 1.5em;
  cursor: pointer;
}

.pointer { cursor: pointer; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* たぶんshopでしか使わないスタイル */
.price-0 {
  position: absolute;
  top: 3%;
  right: 0;
  padding: 0 1em;
  line-height: 2em;
  border-radius: 1em 0 0 1em;
  background: darkorange;
  color: white;
}
.price-1 {
  position: absolute;
  top: 3%;
  right: 0;
  padding: 0 1em;
  line-height: 2em;
  border-radius: 1em 0 0 1em;
  background: goldenrod;
  color: white;
}
.card-0 {
  padding: 0;
  margin: 0 0 2 0;
  background: dimgray;
  color: white;
  text-align: center;
  line-height: 1.5em;
}
.card-1 {
  padding: 0;
  margin: 0 0 2 0;
  background: lightgray;
  text-align: center;
  line-height: 1.5em;
}
.itemimg {
  aspect-ratio: 4 / 3;
  object-fit: contain;
  object-position: 50% 50%;
  background-color: white;
}

/* ホバーしたらうすくなるやつ */
.hover:hover {
  animation: itemhover 0.15s ease-out 0s 1 reverse;
  opacity: 75%;
}
@keyframes itemhover {
  from { opacity: 75%; }
  to { opacity: 100%; }
}

/* import web fonts */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@800&display=swap');
.font-kaisei-tokumin-eb { font-family: 'Kaisei Tokumin', serif; }